@charset "utf-8";

#top {
    position: relative;
}

#top_banner {
    width: 1880px;
    height: 100px;    
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in;
    z-index: 5;
}

#top_banner h1:nth-child(1) {
    z-index: 4;
    opacity: 0;
    transition: all 0.3s ease;
}

#top_banner h1:nth-child(2) {
    position: absolute;
    top: 26px;
    left: 77px;
    z-index: 3;
    opacity: 1;
    transition: all 0.3s ease;
}

#top_banner:hover h1:nth-child(1) {
    opacity: 1;
}

#top_banner:hover h1:nth-child(2) {
    opacity: 0;
}

/*#top_banner:hover*/
#top_banner:hover .top_banner-menu ul li a {
    color: #333333;
}

#top_banner > div {
    float: left;
}

.top_banner-logo {
    width: 170px;
    height: 100px;
    margin-left: 80px;
    padding-top: 25px;
}

.top_banner-menu > ul {
    height: 100px;
    margin-left: 210px;
    margin-right: 200px;
}

.top_banner-menu > ul > li {
    float: left;
    width: 200px;
    height: 100px;
}

.top_banner-menu ul .bar > a {
    display: block;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 105px;
    font-family: 'Ramabhadra', sans-serif;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #ffffff;
    transition: all 0.2s ease;
}

.top_banner-more ul {
    width: 150px;
    height: 100px;
    display: none;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 70px;
}

.top_banner-more ul li{
    float: left;
}

.top_banner-more ul li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    overflow: hidden;
    margin: 40px 10px 0 10px;
}

.top_banner-more ul li a img {
    transition: all 0.3s ease;
}

.top_banner-more ul li:nth-child(1):hover a img{
    transform: translateY(-38px)
}

.top_banner-more ul li:nth-child(2):hover a img{
    transform: translateY(-30px)
}

.top_banner-more ul li:nth-child(3):hover a img{
    transform: translateY(-35px)
}

.top_banner-more ul li a:nth-child(3) {
    margin-right: 0;
} 

.top_banner-more1 ul li:hover a {
    border: 1px solid blue;
}

/*top_banner-more1*/
.top_banner-more1 ul {
    position: absolute;
    top: 0;
    right: 71px;
    transition: all 0.3s ease;
}

.top_banner-more1 ul li {
    float: left;
}

.top_banner-more1 ul li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin: 40px 10px 0 10px;
}

#top_banner:hover .top_banner-more1 ul{
    display: none;
}

#top_banner:hover .top_banner-more ul {
    display: block;
}

/* dropdown_men */
.dropdown_men {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1880px; 
  height: 420px;
  padding-left: 126px;
  padding-top : 20px;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}

.dropdown_men-a {
  float: left;
}

.dropdown_men-a a {
  display: block;
  width: 200px;
  height: 40px;
  margin-right: 130px;
}

.dropdown_men-a a:hover {
  text-decoration: underline;
}

.dropdown_men-a a:first-child {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Ramabhadra', sans-serif;
}

.dropdown_men-a a:not(:first-child) {
  font-size: 13px;
}

/*dropdown img eft*/
.dropdown_men-a:last-child a {
  width: 300px;
  height: 300px;
 
}

.dropdown_men-a:last-child {
  width: 300px;
  height: 300px;
  overflow: hidden;
  transition: all 0.1s ease;
   border: 5px solid black;
}

.dropdown_men-a:last-child:hover {
  border: 5px solid black;
}

.dropdown_men-a:last-child img {
  transition: all 1.5s ease;
}

.dropdown_men-a:last-child:hover img {
  transform: scale(1.5);
  opacity: 0.5;
}

.dropdown_men-a:last-child:hover a::after {
  opacity: 1;
}

.dropdown_men-a:last-child a::after {
  content: "New Arrival";
  position: absolute;
  font-size: 50px;
  top: 130px;
  right: 146px;
  opacity: 0;
  transition: all 0.8s ease;
  color: #333333;
}

/*mouseover*/
.top_banner-menu ul > .bar:nth-child(1):hover .dropdown_men{
  visibility: visible;
  opacity: 1;
}

/* dropdown_women */
.dropdown_women {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1880px; 
  height: 420px;
  padding-left: 126px;
  padding-top: 20px;
  background-color: #ffffff;
  visibility: hidden;                                   
  opacity: 0;
  transition: all 0.3s linear;
}

.dropdown_women-a {
  float: left;
}

.dropdown_women-a a {
  display: block;
  width: 200px;
  height: 40px;
  margin-right: 130px;
}

.dropdown_women-a a:hover {
  text-decoration: underline;
}

.dropdown_women-a a:first-child {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Ramabhadra', sans-serif;
}

.dropdown_women-a a:not(:first-child) {
  font-size: 13px;
}

/*dropdown img eft*/
.dropdown_women-a:last-child a {
  width: 300px;
  height: 300px;
}

.dropdown_women-a:last-child {
  width: 300px;
  height: 300px;
  overflow: hidden;
  transition: all 0.1s ease;
  border: 5px solid black;
}

.dropdown_women-a:last-child:hover {
  border: 5px solid black;
}

.dropdown_women-a:last-child img {
  transition: all 1.5s ease;
}

.dropdown_women-a:last-child:hover img {
  transform: scale(1.5);
  opacity: 0.5;
}

.dropdown_women-a:last-child:hover a::after {
  opacity: 1;
}

.dropdown_women-a:last-child a::after {
  content: "New Arrival";
  position: absolute;
  font-size: 50px;
  top: 130px;
  right: 146px;
  opacity: 0;
  transition: all 0.8s ease;
  color: #333333;
}

/*mouseover*/
.top_banner-menu ul > .bar:nth-child(2):hover .dropdown_women{
  visibility: visible;
  opacity: 1;
}

/*dropdown_kid*/
.dropdown_kid {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1880px; 
  height: 420px;
  padding-left: 126px;
  padding-top : 20px;
  background-color: #ffffff;
  visibility: hidden;                                   
  opacity: 0;
  transition: all 0.3s linear;
}

.dropdown_kid-a {
  float: left;
}

.dropdown_kid-a a {
  display: block;
  width: 200px;
  height: 40px;
  margin-right: 130px;
}

.dropdown_kid-a a:hover {
  text-decoration: underline;
}

.dropdown_kid-a a:first-child {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Ramabhadra', sans-serif;
}

.dropdown_kid-a a:not(:first-child) {
  font-size: 13px;
}

/*mouseover*/
.top_banner-menu ul > .bar:nth-child(3):hover .dropdown_kid{
  visibility: visible;
  opacity: 1;
}

/*dropdown_collection*/
.dropdown_collection {
  position: absolute;
  top: 0;
  right: 1060px;
  width: 1880px; 
  height: 420px;
  padding-top: 20px;
  background-color: #ffffff;
  visibility: hidden;   /*dddd*/
  opacity: 0;
  transition: all 0.3s linear;
}


/*mouseover*/
.top_banner-menu ul > .bar:nth-child(4):hover .dropdown_collection{
  visibility: visible;
  opacity: 1;
}

/*collection*/
.dropdown_collection {
    position: relative;
    cursor: pointer;
}

.dropdown_collection button {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
}

.dropdown_collection button:hover {
    transform: translateY(-30px);
}

.dropdown_collection button::before {
    font-size: 20px;
}

.dropdown_collection button.slick-prev {
    left: 30px;
    font-size: 0;
}


.dropdown_collection button.slick-prev::before {
    content: "◀";
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    
}

.dropdown_collection button.slick-next {
    right: 30px;
    font-size: 0;
}
.dropdown_collection button.slick-next::before {
    content: "▶";
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}

.dropdown_collection div:focus {
    outline: none;
}